flow.json
[{"id":"d88dd470.0ac7b8","type":"inject","z":"10f04116.6b6187","name":"interval","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["874a3d4e.9b666"]]},{"id":"874a3d4e.9b666","type":"http request","z":"10f04116.6b6187","name":"Bondtech extruder product page","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.bondtech.se/en/product-category/extruders/","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":40,"wires":[["90243cc1.87edc"]]},{"id":"90243cc1.87edc","type":"html","z":"10f04116.6b6187","name":"extractor","property":"","outproperty":"","tag":"p.name.product-title.woocommerce-loop-product__title","ret":"text","as":"single","x":600,"y":40,"wires":[["6b45621.912689c"]]},{"id":"6b45621.912689c","type":"function","z":"10f04116.6b6187","name":"analyzer","func":"currentList = msg.payload;\nsavedList = flow.get(\"extruderList\");\n// compare \n\nmsg.payload = \"\";\n \ncurrentList.forEach(function(product) {\n  if (savedList.indexOf(product) < 0)\n  {\n      savedList.push(product);\n      msg.payload==\"\"?msg.payload = msg.payload + \"New product : \" + product:msg.payload = msg.payload + \", \" + product;\n  }\n});\n\ntmp = []\nsavedList.forEach(function(product) {\n  if (currentList.indexOf(product) >= 0)\n  {\n      tmp.push(product);\n  }\n});\n\n\nif (flow.get(\"extruderList\") )\n    msg.payload = \"\"\n\nflow.set(\"extruderList\",tmp);\n\nif (msg.payload != \"\")\n    return msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nif (flow.get(\"extruderList\") == null)\n{\n    tmp=[];\n    flow.set(\"extruderList\",[]);\n}","finalize":"","x":800,"y":40,"wires":[["8ada895d.e470c","c218e7df.5578d8"]]},{"id":"c218e7df.5578d8","type":"debug","z":"10f04116.6b6187","name":"Push msg debug","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1050,"y":120,"wires":[]},{"id":"8ada895d.e470c","type":"pushbullet","z":"10f04116.6b6187","config":"f209fde3.91afa8","pushtype":"note","title":"Bondtech tracker","chan":"","name":"Push","x":1210,"y":40,"wires":[]},{"id":"fb00588e.7fe5d8","type":"inject","z":"10f04116.6b6187","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Test","payloadType":"str","x":1030,"y":80,"wires":[["8ada895d.e470c"]]},{"id":"f209fde3.91afa8","type":"pushbullet-config","name":"zzsinchipzz@gmail.com"}]